h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}
input, select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #333333;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}
