body {
     background-color: #f7f7f7;
     color: #333333;
     text-align: center;
     padding: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 table {
     border-collapse: collapse;
     width: 40%;
     margin: 0 auto;
 }
 td, th {
     padding: 8px;
     border: 1px solid #333333;
 }
 th {
     background-color: #333333;
     color: #F5F5F5;
 }
 a {
     color: #333333;
     text-decoration: none;
 }
 .download-button {
     background-color: #F5F5F5;
     border-radius: 5px;
     border: 2px solid #333333;
     color: #333333;
     font-size: 20px;
     font-weight: bold;
     padding: 10px 20px;
     text-decoration: none;
     margin-top: 20px;
     display: inline-block;
 }
 .download-icon {
     background-color: #333333;
     border-radius: 5px;
     width: 30px;
     height: 30px;
     display: inline-block;
     margin-left: 10px;
     cursor: pointer;
 }
 .download-icon::after {
     content: "▼";
     display: block;
     text-align: center;
     margin-top: 5px;
     color: #F5F5F5;
 }
 form {
     display: inline-block;
     text-align: center;
     margin-top: 20px;
 }
 label {
     display: block;
     margin-bottom: 5px;
     font-weight: bold;
     text-align: left;
 }
 input[type="text"], input[type="password"], input[type="email"] {
     width: 100%;
     padding: 10px;
     border: 2px solid #333333;
     border-radius: 5px;
     margin-bottom: 10px;
 }
 
 .pending-table {
     margin-bottom: 20px;
 }
 
 .accepted-table {
     float: left;
     margin-top: 100px;
     width: 50%;
 }
 .rejected-table {
     float: right;
     margin-top: 100px;
     width: 50%;
 }
 
 .accept-button, .reject-button, .delete-button {
     background-color: #4CAF50;
     color: white;
     border: none;
     padding: 8px 16px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 10px;
     margin: 2px 1px;
     cursor: pointer;
     border-radius: 2px;
 }
 
 .accept-button:hover, .reject-button:hover, .delete-button:hover {
     background-color: #3e8e41;
 }
 
