<!DOCTYPE html>
<html>
<head>
	<title>Create Connection</title>
	<link href="connections_style.css" rel="stylesheet">
</head>
<body>
    <div id="left">
        <h3 id="form-title">Create Connection</h3>
        <form method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br>

            <label for="company">Company:</label>
            <input type="text" id="company" name="company"><br>

            <input type="submit" value="Create">
        </form>
    </div>
    <div class="folder-list" id="right">
		<h2>Folder List</h2>
		<ul>
			{% for folder in folders %}
				<li><a href="{{ url_for('folder_detail', folder_name=folder) }}">{{ folder }}</a></li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>
