<!DOCTYPE html>
<html>
<head>
	<title>Form Example</title>
	<style>
		h1 {
			text-align: center;
			margin-bottom: 20px;
			margin-top: 60px;

		}

		form {
			max-width: 800px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
		}
		label {
			display: block;
			flex-wrap: wrap;
			margin-bottom: 5px;
			font-size: 16px;
		}
		input, select {
			width: 100%;
			padding: 8px 10px;
			margin-bottom: 15px;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-size: 16px;
		}
		input[type="submit"] {
			background-color: #333333;
			color: white;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
		input[type="submit"]:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>Form Example</h1>
	<form method="POST" action="/formpost">
		<label for="options">Choose an option:</label>
		<select id="options" name="options">
			<option value="a">CW1_REQUEST_XUD_TIMESTAMP</option>
			<option value="b">MESSAGE_XUD_DTYPE_TB_TIMESTAMP</option>
			<option value="c">EXWORKS_ACK_KO</option>
			<option value="d">EXWORKS_ACK_OK</option>
			<option value="e">UPDATE_MESSAGE_ACCEPTED</option>
			<option value="f">UPDATE_MESSAGE_ACCRUALS_ACCEPTED</option>
			<option value="g">UPDATE_MESSAGE_ACCRUALS</option>
			<option value="h">UPDATE_MESSAGE_ALLOCATED</option>
			<option value="i">UPDATE_MESSAGE_PAYABLE_UPDATE</option>
			<option value="j">XUD_RDR_UUID</option>
			<option value="k">UPDATE_MESSAGE_REJECTED</option>
			<option value="l">MESSAGE_EVENT_XUE</option>

		</select>
		<div id="form-container">
			<!-- Form for Option CW1_REQUEST_XUD_TIMESTAMP -->
			<div id="form-a" class="form-group">
				<label for="input-a-0">Filename:</label>
				<input type="text" id="input-a-0" name="input-a-0"><br>
				<label for="input-a-1">Data Target Type:</label>
				<input type="text" id="input-a-1" name="input-a-1"><br>
				<label for="input-a-2">Data Target Key:</label>
				<input type="text" id="input-a-2" name="input-a-2"><br>
				<label for="input-a-3">Company Code:</label>
				<input type="text" id="input-a-3" name="input-a-3"><br>
				<label for="input-a-4">Filter Type:</label>
				<input type="text" id="input-a-4" name="input-a-4"><br>
				<label for="input-a-5">Filter Value:</label>
				<input type="text" id="input-a-5" name="input-a-5"><br>
				<label for="input-a-6">Enterprise ID:</label>
				<input type="text" id="input-a-6" name="input-a-6"><br>
				<label for="input-a-7">Server ID:</label>
				<input type="text" id="input-a-7" name="input-a-7"><br>
			</div>
			<!-- Form for Option MESSAGE_XUD_DTYPE_TB_TIMESTAMP -->
			<div id="form-b" class="form-group">
				<label for="input-b-0">Filename:</label>
				<input type="text" id="input-b-0" name="input-b-0"><br>
				<label for="input-b-1">Status:</label>
				<input type="text" id="input-b-1" name="input-b-1"><br>
				<label for="input-b-2">DataSource Type:</label>
				<input type="text" id="input-b-2" name="input-b-2"><br>
				<label for="input-b-3">DataSource Key:</label>
				<input type="text" id="input-b-3" name="input-b-3"><br>
				<label for="input-b-4">Company Code:</label>
				<input type="text" id="input-b-4" name="input-b-4"><br>
				<label for="input-b-5">Company Country Code:</label>
				<input type="text" id="input-b-5" name="input-b-5"><br>
				<label for="input-b-6">Company Country Name:</label>
				<input type="text" id="input-b-6" name="input-b-6"><br>
				<label for="input-b-7">Company Name:</label>
				<input type="text" id="input-b-7" name="input-b-7"><br>
				<label for="input-b-8">Data Provider</label>
				<input type="text" id="input-b-8" name="input-b-8"><br>
				<label for="input-b-9">Enterprise ID:</label>
				<input type="text" id="input-b-9" name="input-b-9"><br>
				<label for="input-b-10">Server ID:</label>
				<input type="text" id="input-b-10" name="input-b-10"><br>
				<label for="input-b-11">Event Type:</label>
				<input type="text" id="input-b-11" name="input-b-11"><br>
				<label for="input-b-12">Event Type:</label>
				<input type="text" id="input-b-12" name="input-b-12"><br>
				<label for="input-b-13">Is Estimate:</label>
				<input type="checkbox" id="input-b-13" name="input-b-13" value="true">				
				<label for="input-b-14">Attached Filename:</label>
				<input type="file" id="input-b-14" name="input-b-14" multiple>
				<label style="display: none;" for="input-b-15">ImageData:</label>
				<input type="hidden" id="input-b-15" name="input-b-15"><br>
				<label for="input-b-16">Document Type Code:</label>
				<input type="text" id="input-b-16" name="input-b-16"><br>
				<label for="input-b-17">Document Type Description:</label>
				<input type="text" id="input-b-17" name="input-b-17"><br>
				<label for="input-b-18">Document ID:</label>
				<input type="text" id="input-b-18" name="input-b-18"><br>
				<label for="input-b-19">Is Published:</label>
				<label><input type="checkbox" id="input-b-19" name="input-b-19" value="true">Yes</label><br>				
				<!--<label style="display: none;" for="input-b-20">Save Date UTC:</label>
				<input type="hidden" id="input-b-20" name="input-b-20"><br>-->
				<label for="input-b-20">Document Saved By Code:</label>
				<input type="text" id="input-b-20" name="input-b-20"><br>
				<label for="input-b-22">Document Saved By Name:</label>
				<input type="text" id="input-b-21" name="input-b-21"><br>
			</div>
			<!-- Form for Option EXWORKS_ACK_KO -->
			<div id="form-c" class="form-group">
				<label for="input-c-0">Filename:</label>
				<input type="text" id="input-c-0" name="input-c-0"><br>
				<label for="input-c-1">Data Target Type:</label>
				<input type="text" id="input-c-1" name="input-c-1"><br>
				<label for="input-c-2">Data Target Key:</label>
				<input type="text" id="input-c-2" name="input-c-2"><br>
				<label for="input-c-3">Company Code:</label>
				<input type="text" id="input-c-3" name="input-c-3"><br>
				<label for="input-c-4">Enterprise ID:</label>
				<input type="text" id="input-c-4" name="input-c-4"><br>
				<label for="input-c-5">Server ID:</label>
				<input type="text" id="input-c-5" name="input-c-5"><br>
				<!--<label for="input-c-6">Event Time:</label>
				<input type="text" id="input-c-6" name="input-c-6"><br>-->
				<label for="input-c-6">Event Type:</label>
				<input type="text" id="input-c-6" name="input-c-6"><br>
				<label for="input-c-7">Event Reference:</label>
				<input type="text" id="input-c-7" name="input-c-7"><br>
				<label for="input-c-8">Is Estimate:</label>
				<label><input type="checkbox" id="input-c-8" name="input-c-8" value="true">Yes</label><br>				
			</div>
					<!-- Form for Option EXWORKS_ACK_OK -->
			<div id="form-d" class="form-group">
				<label for="input-d-0">Filename:</label>
				<input type="text" id="input-d-0" name="input-d-0"><br>
				<label for="input-d-1">Data Target Type:</label>
				<input type="text" id="input-d-1" name="input-d-1"><br>
				<label for="input-d-2">Data Target Key:</label>
				<input type="text" id="input-d-2" name="input-d-2"><br>
				<label for="input-d-3">Company Code:</label>
				<input type="text" id="input-d-3" name="input-d-3"><br>
				<label for="input-d-4">Enterprise ID:</label>
				<input type="text" id="input-d-4" name="input-d-4"><br>
				<label for="input-d-5">Server ID:</label>
				<input type="text" id="input-d-5" name="input-d-5"><br>
				<!--<label for="input-d-6">Event Time:</label>
				<input type="text" id="input-d-6" name="input-d-6"><br>-->
				<label for="input-d-6">Event Type:</label>
				<input type="text" id="input-d-6" name="input-d-6"><br>
				<label for="input-d-7">Event Reference:</label>
				<input type="text" id="input-d-7" name="input-d-7"><br>
				<label for="input-d-8">Is Estimate:</label>
				<label><input type="checkbox" id="input-d-8" name="input-d-8" value="true">Yes</label><br>				
			</div>
					<!-- UPDATE_MESSAGE_ACCEPTED -->
			<div id="form-e" class="form-group">
				<label for="input-e-0">Filename:</label>
				<input type="text" id="input-e-0" name="input-e-0"><br>
				<label for="input-e-1">Data Target Type:</label>
				<input type="text" id="input-e-1" name="input-e-1"><br>
				<label for="input-e-2">Data Target Key:</label>
				<input type="text" id="input-e-2" name="input-e-2"><br>
				<label for="input-e-3">Company Code:</label>
				<input type="text" id="input-e-3" name="input-e-3"><br>
				<label for="input-e-4">Enterprise ID:</label>
				<input type="text" id="input-e-4" name="input-e-4"><br>
				<label for="input-e-5">Server ID:</label>
				<input type="text" id="input-e-5" name="input-e-5"><br>
				<label for="input-e-6">Description:</label>
				<input type="text" id="input-e-6" name="input-e-6"><br>
				<label for="input-e-7">Is custom description?:</label>
				<label><input type="checkbox" id="input-e-7" name="input-e-7" value="true">Yes</label><br>				
				<label for="input-e-8">Note Text:</label>
				<input type="text" id="input-e-8" name="input-e-8"><br>
				<label for="input-e-9">Note Context Code:</label>
				<input type="text" id="input-e-9" name="input-e-9"><br>
				<label for="input-e-10">Visibility Code:</label>
				<input type="text" id="input-e-10" name="input-e-10"><br>
				<label for="input-e-11">Address Type:</label>
				<input type="text" id="input-e-11" name="input-e-11"><br>
				<label for="input-e-12">Organization Code:</label>
				<input type="text" id="input-e-12" name="input-e-12"><br>
				<label for="input-e-13">Customized Field DataType:</label>
				<input type="text" id="input-e-13" name="input-e-13"><br>
				<label for="input-e-14">Customized Field Key:</label>
				<input type="text" id="input-e-14" name="input-e-14"><br>
				<label for="input-e-15">Customized Field Value:</label>
				<input type="text" id="input-e-15" name="input-e-15"><br>
			</div>
						<!-- UPDATE_MESSAGE_ACCRUALS_ACCEPTED -->
			<div id="form-f" class="form-group">
				<label for="input-f-0">Filename:</label>
				<input type="text" id="input-f-0" name="input-f-0"><br>
				<label for="input-f-1">Data Target Type:</label>
				<input type="text" id="input-f-1" name="input-f-1"><br>
				<label for="input-f-2">Data Target Key:</label>
				<input type="text" id="input-f-2" name="input-f-2"><br>
				<label for="input-f-3">Company Code:</label>
				<input type="text" id="input-f-3" name="input-f-3"><br>
				<label for="input-f-4">Enterprise ID:</label>
				<input type="text" id="input-f-4" name="input-f-4"><br>
				<label for="input-f-5">Server ID:</label>
				<input type="text" id="input-f-5" name="input-f-5"><br>
				<label for="input-f-6">Transport Booking Direction Code:</label>
				<input type="text" id="input-f-6" name="input-f-6"><br>
				<label for="input-f-7">Transport Booking Direction Description:</label>
				<input type="text" id="input-f-7" name="input-f-7"><br>
				<label for="input-f-8">Address Type:</label>
				<input type="text" id="input-f-8" name="input-f-8"><br>
				<label for="input-f-9">Organization Code:</label>
				<input type="text" id="input-f-9" name="input-f-9"><br>
				<label for="input-f-10">Branch Code:</label>
				<input type="text" id="input-f-10" name="input-f-10"><br>
				<label for="input-f-11">Currency Code:</label>
				<input type="text" id="input-f-11" name="input-f-11"><br>
				<label for="input-f-12">Department Code:</label>
				<input type="text" id="input-f-12" name="input-f-12"><br>
				<label for="input-f-13">Charge Line Branch Code:</label>
				<input type="text" id="input-f-13" name="input-f-13"><br>
				<label for="input-f-14">Charge Line Charge Code:</label>
				<input type="text" id="input-f-14" name="input-f-14"><br>
				<label for="input-f-15">Charge Line Cost Local Amount:</label>
				<input type="text" id="input-f-15" name="input-f-15"><br>
				<label for="input-f-16">Charge Line Cost OS Amount:</label>
				<input type="text" id="input-f-16" name="input-f-16"><br>
				<label for="input-f-17">Charge Line Cost OS Currency Code:</label>
				<input type="text" id="input-f-17" name="input-f-17"><br>
				<label for="input-f-18">Charge Line Cost OS GSTVAT Amount:</label>
				<input type="text" id="input-f-18" name="input-f-18"><br>
				<label for="input-f-19">Charge Line Creditor Type:</label>
				<input type="text" id="input-f-19" name="input-f-19"><br>
				<label for="input-f-20">Charge Line Creditor Key:</label>
				<input type="text" id="input-f-20" name="input-f-20"><br>
				<label for="input-f-21">Charge Line Department Code:</label>
				<input type="text" id="input-f-21" name="input-f-21"><br>
				<label for="input-f-22">Charge Line Display Sequence:</label>
				<input type="text" id="input-f-22" name="input-f-22"><br>
				<label for="input-f-23">Charge Line Import MetaData Instruction:</label>
				<input type="text" id="input-f-23" name="input-f-23"><br>
				<label for="input-f-24">Charge Line Supplier Reference:</label>
				<input type="text" id="input-f-24" name="input-f-24"><br>
				<label for="input-f-25">Customized Field Data Type:</label>
				<input type="text" id="input-f-25" name="input-f-25"><br>
				<label for="input-f-26">Customized Field Key:</label>
				<input type="text" id="input-f-26" name="input-f-26"><br>
				<label for="input-f-27">Customized Field Value:</label>
				<input type="text" id="input-f-27" name="input-f-27"><br>
			</div>
						<!-- UPDATE_MESSAGE_ACCRUALS -->
			<div id="form-g" class="form-group">
				<label for="input-g-0">Filename:</label>
				<input type="text" id="input-g-0" name="input-g-0"><br>
				<label for="input-g-1">Data Target Type:</label>
				<input type="text" id="input-g-1" name="input-g-1"><br>
				<label for="input-g-2">Data Target Key:</label>
				<input type="text" id="input-g-2" name="input-g-2"><br>
				<label for="input-g-3">Company Code:</label>
				<input type="text" id="input-g-3" name="input-g-3"><br>
				<label for="input-g-4">Enterprise ID:</label>
				<input type="text" id="input-g-4" name="input-g-4"><br>
				<label for="input-g-5">Server ID:</label>
				<input type="text" id="input-g-5" name="input-g-5"><br>
				<label for="input-g-6">Transport Booking Direction Code:</label>
				<input type="text" id="input-g-6" name="input-g-6"><br>
				<label for="input-g-7">Transport Booking Direction Description:</label>
				<input type="text" id="input-g-7" name="input-g-7"><br>
				<label for="input-g-8">Address Type:</label>
				<input type="text" id="input-g-8" name="input-g-8"><br>
				<label for="input-g-9">Organization Code:</label>
				<input type="text" id="input-g-9" name="input-g-9"><br>
				<label for="input-g-10">Branch Code:</label>
				<input type="text" id="input-g-10" name="input-g-10"><br>
				<label for="input-g-11">Currency Code:</label>
				<input type="text" id="input-g-11" name="input-g-11"><br>
				<label for="input-g-12">Department Code:</label>
				<input type="text" id="input-g-12" name="input-g-12"><br>
				<label for="input-g-13">Charge Line Branch Code:</label>
				<input type="text" id="input-g-13" name="input-g-13"><br>
				<label for="input-g-14">Charge Line Charge Code:</label>
				<input type="text" id="input-g-14" name="input-g-14"><br>
				<label for="input-g-15">Charge Line Cost Local Amount:</label>
				<input type="text" id="input-g-15" name="input-g-15"><br>
				<label for="input-g-16">Charge Line Cost OS Amount:</label>
				<input type="text" id="input-g-16" name="input-g-16"><br>
				<label for="input-g-17">Charge Line Cost OS Currency Code:</label>
				<input type="text" id="input-g-17" name="input-g-17"><br>
				<label for="input-g-18">Charge Line Cost OS GSTVAT Amount:</label>
				<input type="text" id="input-g-18" name="input-g-18"><br>
				<label for="input-g-19">Charge Line Creditor Type:</label>
				<input type="text" id="input-g-19" name="input-g-19"><br>
				<label for="input-g-20">Charge Line Creditor Key:</label>
				<input type="text" id="input-g-20" name="input-g-20"><br>
				<label for="input-g-21">Charge Line Department Code:</label>
				<input type="text" id="input-g-21" name="input-g-21"><br>
				<label for="input-g-22">Charge Line Display Sequence:</label>
				<input type="text" id="input-g-22" name="input-g-22"><br>
				<label for="input-g-23">Charge Line Import MetaData Instruction:</label>
				<input type="text" id="input-g-23" name="input-g-23"><br>
				<label for="input-g-24">Charge Line Supplier Reference:</label>
				<input type="text" id="input-g-24" name="input-g-24"><br>
				<label for="input-g-25">Customized Field Data Type:</label>
				<input type="text" id="input-g-25" name="input-g-25"><br>
				<label for="input-g-26">Customized Field Key:</label>
				<input type="text" id="input-g-26" name="input-g-26"><br>
				<label for="input-g-27">Customized Field Value:</label>
				<input type="text" id="input-g-27" name="input-g-27"><br>
			</div>								
			<!-- Form for Option UPDATE_MESSAGE_ALLOCATED -->
			<div id="form-h" class="form-group">
				<label for="input-h-0">Filename:</label>
				<input type="text" id="input-h-0" name="input-h-0"><br>
				<label for="input-h-1">DataTarget Type:</label>
				<input type="text" id="input-h-1" name="input-h-1"><br>
				<label for="input-h-2">DataTarget Key:</label>
				<input type="text" id="input-h-2" name="input-h-2"><br>
				<label for="input-h-3">Company Code:</label>
				<input type="text" id="input-h-3" name="input-h-3"><br>
				<label for="input-h-4">EnterpriseID:</label>
				<input type="text" id="input-h-4" name="input-h-4"><br>
				<label for="input-h-5">ServerID:</label>
				<input type="text" id="input-h-5" name="input-h-5"><br>
				<label for="input-h-6">Description:</label>
				<input type="text" id="input-h-6" name="input-h-6"><br>
				<label for="input-h-7">IsCustomDescription:</label>
				<label><input type="checkbox" id="input-h-7" name="input-h-7" value="true">Yes</label><br>				
				<label for="input-h-8">NoteText:</label>
				<input type="text" id="input-h-8" name="input-h-8"><br>
				<label for="input-h-9">NoteContext Code:</label>
				<input type="text" id="input-h-9" name="input-h-9"><br>
				<label for="input-h-10">Visibility Code:</label>
				<input type="text" id="input-h-10" name="input-h-10"><br>
				<label for="input-h-11">AddressType:</label>
				<input type="text" id="input-h-11" name="input-h-11"><br>
				<label for="input-h-12">OrganizationCode:</label>
				<input type="text" id="input-h-12" name="input-h-12"><br>
				<label for="input-h-13">CustomizedField DataType:</label>
				<input type="text" id="input-h-13" name="input-h-13"><br>
				<label for="input-h-14">CustomizedField Key:</label>
				<input type="text" id="input-h-14" name="input-h-14"><br>
				<label for="input-h-15">CustomizedField Value:</label>
				<input type="text" id="input-h-15" name="input-h-15"><br>					
			</div>
			
			<!-- Form for Option update_message_payable_update -->
			<div id="form-i" class="form-group">
				<label for="input-i-0">Filename:</label>
				<input type="text" id="input-i-0" name="input-i-0"><br>
				<label for="input-i-1">DataTarget Type:</label>
				<input type="text" id="input-i-1" name="input-i-1"><br>
				<label for="input-i-2">DataTarget Key:</label>
				<input type="text" id="input-i-2" name="input-i-2"><br>
				<label for="input-i-3">Company Code:</label>
				<input type="text" id="input-i-3" name="input-i-3"><br>
				<label for="input-i-4">EnterpriseID:</label>
				<input type="text" id="input-i-4" name="input-i-4"><br>
				<label for="input-i-5">ServerID:</label>
				<input type="text" id="input-i-5" name="input-i-5"><br>
				<label for="input-i-6">TransportBookingDirection Code:</label>
				<input type="text" id="input-i-6" name="input-i-6"><br>
				<label for="input-i-7">TransportBookingDirection Description:</label>
				<input type="text" id="input-i-7" name="input-i-7"><br>
				<label for="input-i-8">AddressType:</label>
				<input type="text" id="input-i-8" name="input-i-8"><br>
				<label for="input-i-9">OrganizationCode:</label>
				<input type="text" id="input-i-9" name="input-i-9"><br>
				<label for="input-i-10">Branch Code:</label>
				<input type="text" id="input-i-10" name="input-i-10"><br>
				<label for="input-i-11">Currency Code:</label>
				<input type="text" id="input-i-11" name="input-i-11"><br>
				<label for="input-i-12">Department Code:</label>
				<input type="text" id="input-i-12" name="input-i-12"><br>
				<label for="input-i-13">ChargeLine Branch Code:</label>
				<input type="text" id="input-i-13" name="input-i-13"><br>
				<label for="input-i-14">ChargeLine ChargeCode Code:</label>
				<input type="text" id="input-i-14" name="input-i-14"><br>
				<label for="input-i-15">ChargeLine CostLocalAmount:</label>
				<input type="text" id="input-i-15" name="input-i-15"><br>
				<label for="input-i-16">ChargeLine CostOSAmount:</label>
				<input type="text" id="input-i-16" name="input-i-16"><br>
				<label for="input-i-17">ChargeLine ChargeLine CostOSCurrency Code:</label>
				<input type="text" id="input-i-17" name="input-i-17"><br>
				<label for="input-i-18">ChargeLine CostOSGSTVATAmount:</label>
				<input type="text" id="input-i-18" name="input-i-18"><br>
				<label for="input-i-19">ChargeLine Creditor Type:</label>
				<input type="text" id="input-i-19" name="input-i-19"><br>
				<label for="input-i-20">ChargeLine Creditor Key:</label>
				<input type="text" id="input-i-20" name="input-i-20"><br>			
				<label for="input-i-21">ChargeLine Department Code:</label>
				<input type="text" id="input-i-21" name="input-i-21"><br>		
				<label for="input-i-22">ChargeLine DisplaySequence:</label>
				<input type="text" id="input-i-22" name="input-i-22"><br>		
				<label for="input-i-23">ChargeLine ImportMetaData Instruction:</label>
				<input type="text" id="input-i-23" name="input-i-23"><br>		
				<label for="input-i-24">ChargeLine SupplierReference:</label>
				<input type="text" id="input-i-24" name="input-i-24"><br>		
			</div>

			<!-- Form for Option XUD_RDR_TB00001190 -->
			<div id="form-j" class="form-group">
				<label for="input-j-0">Filename:</label>
				<input type="text" id="input-j-0" name="input-j-0"><br>
				<label for="input-j-1">Status:</label>
				<input type="text" id="input-j-1" name="input-j-1"><br>
				<label for="input-j-2">DataSource Type:</label>
				<input type="text" id="input-j-2" name="input-j-2"><br>
				<label for="input-j-3">DataSource Key:</label>
				<input type="text" id="input-j-3" name="input-j-3"><br>
				<label for="input-j-4">CompanyCode:</label>
				<input type="text" id="input-j-4" name="input-j-4"><br>
				<label for="input-j-5">Company Country Code:</label>
				<input type="text" id="input-j-5" name="input-j-5"><br>
				<label for="input-j-6">Company Country Name:</label>
				<input type="text" id="input-j-6" name="input-j-6"><br>
				<label for="input-j-7">Company Name:</label>
				<input type="text" id="input-j-7" name="input-j-7"><br>
				<label for="input-j-8">DataProvider:</label>
				<input type="text" id="input-j-8" name="input-j-8"><br>
				<label for="input-j-9">EnterPriseID:</label>
				<input type="text" id="input-j-9" name="input-j-9"><br>
				<label for="input-j-10">ServerID:</label>
				<input type="text" id="input-j-10" name="input-j-10"><br>
				<!--<label for="input-j-11">EventTime:</label>
				<input type="text" id="input-j-11" name="input-j-11"><br>-->
				<label for="input-j-11">EventType:</label>
				<input type="text" id="input-j-11" name="input-j-11"><br>
				<label for="input-j-12">IsEstimate:</label>
				<label><input type="checkbox" id="input-j-12" name="input-j-12" value="true">Yes</label><br>				
				<label for="input-j-13">PDF file:</label>
				<input type="file" id="input-j-13" name="input-j-13"><br>
				<label style="display: none;" for="input-j-14">ImageData:</label>
				<input type="hidden" id="input-j-14" name="input-j-14"><br>
				<label for="input-j-15">Type Code:</label>
				<input type="text" id="input-j-15" name="input-j-15"><br>
				<label for="input-j-16">Type Description:</label>
				<input type="text" id="input-j-16" name="input-j-16"><br>
				<label for="input-j-17">DocumentID:</label>
				<input type="text" id="input-j-17" name="input-j-17"><br>
				<label for="input-j-18">IsPublished:</label>
				<label><input type="checkbox" id="input-j-18" name="input-j-18" value="true">Yes</label><br>				
				<!--<label for="input-j-19">SaveDateUTC:</label>
				<input type="text" id="input-j-19" name="input-j-19"><br>-->		
				<label for="input-j-19">SavedBy Code:</label>
				<input type="text" id="input-j-19" name="input-j-19"><br>		
				<label for="input-j-20">SavedBy Name:</label>
				<input type="text" id="input-j-20" name="input-j-20"><br>
				<label for="input-j-21">Source Code:</label>
				<input type="text" id="input-j-21" name="input-j-21"><br>
				<label for="input-j-22">Source Description:</label>
				<input type="text" id="input-j-22" name="input-j-22"><br>
				<label for="input-j-23">Visible Branch Code:</label>
				<input type="text" id="input-j-23" name="input-j-23"><br>
				<label for="input-j-24">Visible Company Code:</label>
				<input type="text" id="input-j-24" name="input-j-24"><br>
				<label for="input-j-25">Visible Department Code:</label>
				<input type="text" id="input-j-25" name="input-j-25"><br>				
				<label for="input-j-26">MessageNumber:</label>
				<input type="text" id="input-j-26" name="input-j-26"><br>		
			</div>

			<!-- Form for Option UPDATE_MESSAGE_REJECTED -->
			<div id="form-k" class="form-group">
				<label for="input-k-0">Filename:</label>
				<input type="text" id="input-k-0" name="input-k-0"><br>
				<label for="input-k-1">DataTarget Type:</label>
				<input type="text" id="input-k-1" name="input-k-1"><br>
				<label for="input-k-2">DataTarget Key:</label>
				<input type="text" id="input-k-2" name="input-k-2"><br>
				<label for="input-k-3">Company Code:</label>
				<input type="text" id="input-k-3" name="input-k-3"><br>
				<label for="input-k-4">EnterpriseID:</label>
				<input type="text" id="input-k-4" name="input-k-4"><br>
				<label for="input-k-5">ServerID:</label>
				<input type="text" id="input-k-5" name="input-k-5"><br>
				<label for="input-k-6">Description:</label>
				<input type="text" id="input-k-6" name="input-k-6"><br>
				<label for="input-k-7">IsCustomDescription:</label>
				<label><input type="checkbox" id="input-k-7" name="input-k-7" value="true">Yes</label><br>				
				<label for="input-ck-8">NoteText:</label>
				<input type="text" id="input-k-8" name="input-k-8"><br>
				<label for="input-k-9">NoteContext Code:</label>
				<input type="text" id="input-k-9" name="input-k-9"><br>
				<label for="input-k-10">Visibility Code:</label>
				<input type="text" id="input-k-10" name="input-k-10"><br>
				<label for="input-k-11">AddressType:</label>
				<input type="text" id="input-k-11" name="input-k-11"><br>
				<label for="input-k-12">OrganizationCode:</label>
				<input type="text" id="input-k-12" name="input-k-12"><br>
				<label for="input-k-13">CustomizedField DataType:</label>
				<input type="text" id="input-k-13" name="input-k-13"><br>
				<label for="input-k-14">CustomizedField Key:</label>
				<input type="text" id="input-k-14" name="input-k-14"><br>
				<label for="input-k-15">CustomizedField Value:</label>
				<input type="text" id="input-k-15" name="input-k-15"><br>				
			</div>

			<!-- Form for Option Message_Event_XUE -->
			<div id="form-l" class="form-group">
				<label for="input-l-0">Filename:</label>
				<input type="text" id="input-l-0" name="input-l-0"><br>
				<label for="input-l-1">DataTarget Type:</label>
				<input type="text" id="input-l-1" name="input-l-1"><br>
				<label for="input-l-2">DataTarget Key:</label>
				<input type="text" id="input-l-2" name="input-l-2"><br>
				<label for="input-l-3">Company Code:</label>
				<input type="text" id="input-l-3" name="input-l-3"><br>
				<label for="input-l-4">EnterpriseID:</label>
				<input type="text" id="input-l-4" name="input-l-4"><br>
				<label for="input-l-5">ServerID:</label>
				<input type="text" id="input-l-5" name="input-l-5"><br>
				<!--<label for="input-l-6">EventTime:</label>
				<input type="text" id="input-l-6" name="input-l-6"><br>-->
				<label for="input-l-6">EventType:</label>
				<input type="text" id="input-l-6" name="input-l-6"><br>
				<label for="input-l-7">EventReference:</label>
				<input type="text" id="input-l-7" name="input-l-7"><br>
				<label for="input-l-8">IsEstimate:</label>
				<label><input type="checkbox" id="input-l-8" name="input-l-8" value="true">Yes</label><br>				
			</div>
		</div>
		<input type="submit" value="Submit">
	</form>

	<script>
		// Hide all forms initially
		document.querySelectorAll('.form-group').forEach(form => form.style.display = 'none');

		
		// Show the selected form
		document.querySelector('#options').addEventListener('change', function() {
			const selectedOption = this.value;
			document.querySelectorAll('.form-group').forEach(form => form.style.display = 'none');
			document.querySelector(`#form-${selectedOption}`).style.display = 'block';
		});

		// Submit form data to FastAPI endpoint
	const form = document.querySelector('form');
	form.addEventListener('submit', async event => {
		event.preventDefault();
		const formData = new FormData(form);
		const options = formData.get('options');
		const url = '/formpost';
		const body = {};
		if (options === 'a') {
			const formGroup = document.querySelector('#form-a');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-a-${i}`;
				body[`input_a_${i}`] = formData.get(inputName);
			}
		} else if (options === 'b') {
			const formGroup = document.querySelector('#form-b');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				if (i === 15) {
				const fileInput = document.querySelector('#input-b-14');
				const file = fileInput.files[0];
				const { data, filename } = await readFile(file);
			    body[`input_b_${14}`] = filename;
			    body[`input_b_${15}`] = data;
				} else {
					const inputName = `input-b-${i}`;
					body[`input_b_${i}`] = formData.get(inputName);
				}
			}
		}else if (options === 'c') {
			const formGroup = document.querySelector('#form-c');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-c-${i}`;
				body[`input_c_${i}`] = formData.get(inputName);
		}
		}else if (options === 'd') {
			const formGroup = document.querySelector('#form-d');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-d-${i}`;
				body[`input_d_${i}`] = formData.get(inputName);
			}
		}else if (options === 'e') {
			const formGroup = document.querySelector('#form-e');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-e-${i}`;
				body[`input_e_${i}`] = formData.get(inputName);
			}
		}else if (options === 'f') {
			const formGroup = document.querySelector('#form-f');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-f-${i}`;
				body[`input_f_${i}`] = formData.get(inputName);
			}
		}else if (options === 'g') {
			const formGroup = document.querySelector('#form-g');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-g-${i}`;
				body[`input_g_${i}`] = formData.get(inputName);
			}
		} else if (options === 'h') {
			const formGroup = document.querySelector('#form-h');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-h-${i}`;
				body[`input_h_${i}`] = formData.get(inputName);
			}
		} else if (options === 'i') {
			const formGroup = document.querySelector('#form-i');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-i-${i}`;
				body[`input_i_${i}`] = formData.get(inputName);
			}
		} else if (options === 'j') {
			const formGroup = document.querySelector('#form-j');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				if (i === 14) {
				const fileInput = document.querySelector('#input-j-13');
				const file = fileInput.files[0];
				const { data, filename } = await readFile(file);
			    body[`input_j_${13}`] = filename;
			    body[`input_j_${14}`] = data;
				} else {
					const inputName = `input-j-${i}`;
					body[`input_j_${i}`] = formData.get(inputName);
				}
			}
		} else if (options === 'k') {
			const formGroup = document.querySelector('#form-k');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-k-${i}`;
				body[`input_k_${i}`] = formData.get(inputName);
			}
		} else if (options === 'l') {
			const formGroup = document.querySelector('#form-l');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-l-${i}`;
				body[`input_l_${i}`] = formData.get(inputName);
			}
		}
		try {
			const response = await fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(body)
			});
			const result = await response.json();
			console.log(result);
			alert('Sent successfully!');
		} catch (error) {
			console.error(error);
		}
	});
	function readFile(file) {
		const reader = new FileReader();
		return new Promise((resolve) => {
			reader.onload = () => resolve({ data: reader.result, filename: file.name });
			reader.readAsDataURL(file);
		});
		}
	</script>
</body>
{% include '_site_map.html' %}
</html>