<!DOCTYPE html>
<html>
<head>
	<title>Form Example</title>
	<style>
		h1 {
			text-align: center;
			margin-bottom: 20px;
			margin-top: 60px;

		}

		form {
			max-width: 800px;
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
		}
		label {
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
		}
		input, select {
			width: 100%;
			padding: 8px 10px;
			margin-bottom: 15px;
			border-radius: 5px;
			border: 1px solid #ccc;
			font-size: 16px;
		}
		input[type="submit"] {
			background-color: #333333;
			color: white;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
		}
		input[type="submit"]:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<h1>Form Example</h1>
	<form method="POST" action="/formpost">
		<label for="options">Choose an option:</label>
		<select id="options" name="options">
			<option value="a">CW1_REQUEST_XUD_TIMESTAMP</option>
			<option value="b">MESSAGE_XUD_DTYPE_TB_TIMESTAMP</option>
		</select>
		<div id="form-container">
			<!-- Form for Option CW1_REQUEST_XUD_TIMESTAMP -->
			<div id="form-a" class="form-group">
				<label for="input-a-0">Filename:</label>
				<input type="text" id="input-a-0" name="input-a-0"><br>
				<label for="input-a-1">Data Target Type:</label>
				<input type="text" id="input-a-1" name="input-a-1"><br>
				<label for="input-a-2">Data Target Key:</label>
				<input type="text" id="input-a-2" name="input-a-2"><br>
				<label for="input-a-3">Company Code:</label>
				<input type="text" id="input-a-3" name="input-a-3"><br>
				<label for="input-a-4">Filter Type:</label>
				<input type="text" id="input-a-4" name="input-a-4"><br>
				<label for="input-a-5">Filter Value:</label>
				<input type="text" id="input-a-5" name="input-a-5"><br>
				<label for="input-a-6">Enterprise ID:</label>
				<input type="text" id="input-a-6" name="input-a-6"><br>
				<label for="input-a-7">Server ID:</label>
				<input type="text" id="input-a-7" name="input-a-7"><br>
			</div>
			<!-- Form for Option MESSAGE_XUD_DTYPE_TB_TIMESTAMP -->
			<div id="form-b" class="form-group">
				<label for="input-b-0">Filename:</label>
				<input type="text" id="input-b-0" name="input-b-0"><br>
				<label for="input-b-1">Status:</label>
				<input type="text" id="input-b-1" name="input-b-1"><br>
				<label for="input-b-2">DataSource Type:</label>
				<input type="text" id="input-b-2" name="input-b-2"><br>
				<label for="input-b-3">DataSource Key:</label>
				<input type="text" id="input-b-3" name="input-b-3"><br>
				<label for="input-b-4">Company Code:</label>
				<input type="text" id="input-b-4" name="input-b-4"><br>
				<label for="input-b-5">Company Name:</label>
				<input type="text" id="input-b-5" name="input-b-5"><br>
				<label for="input-b-6">Company Country Code:</label>
				<input type="text" id="input-b-6" name="input-b-6"><br>
				<label for="input-b-7">Company Country Name:</label>
				<input type="text" id="input-b-7" name="input-b-7"><br>
				<label for="input-b-8">Event Time:</label>
				<input type="text" id="input-b-8" name="input-b-8"><br>
				<label for="input-b-9">Event Type:</label>
				<input type="text" id="input-b-9" name="input-b-9"><br>
				<label for="input-b-10">Is Estimate:</label>
				<input type="text" id="input-b-10" name="input-b-10"><br>
				<label for="input-b-11">Filename:</label>
				<input type="text" id="input-b-11" name="input-b-11"><br>
				<label for="input-b-12">ImageData:</label>
				<input type="text" id="input-b-12" name="input-b-12"><br>
				<label for="input-b-13">Document Type Code:</label>
				<input type="text" id="input-b-13" name="input-b-13"><br>
				<label for="input-b-14">Document Type Description:</label>
				<input type="text" id="input-b-14" name="input-b-14"><br>
				<label for="input-b-15">Document ID:</label>
				<input type="text" id="input-b-15" name="input-b-15"><br>
				<label for="input-b-16">Is Published:</label>
				<input type="text" id="input-b-16" name="input-b-16"><br>
				<label for="input-b-17">Save Date UTC:</label>
				<input type="text" id="input-b-17" name="input-b-17"><br>
				<label for="input-b-18">Document Saved By Code:</label>
				<input type="text" id="input-b-18" name="input-b-18"><br>
				<label for="input-b-19">Document Saved By Name:</label>
				<input type="text" id="input-b-19" name="input-b-19"><br>
			</div>
			<!-- Form for Option EXWORKS_ACK_KO -->
			<div id="form-c" class="form-group">
				<label for="input-c-0">Filename:</label>
				<input type="text" id="input-c-0" name="input-c-0"><br>
				<label for="input-c-1">Data Target Type:</label>
				<input type="text" id="input-c-1" name="input-c-1"><br>
				<label for="input-c-2">Data Target Key:</label>
				<input type="text" id="input-c-2" name="input-c-2"><br>
				<label for="input-c-3">Company Code:</label>
				<input type="text" id="input-c-3" name="input-c-3"><br>
				<label for="input-c-4">Enterprise ID:</label>
				<input type="text" id="input-c-4" name="input-c-4"><br>
				<label for="input-c-5">Server ID:</label>
				<input type="text" id="input-c-5" name="input-c-5"><br>
				<label for="input-c-6">Event Time:</label>
				<input type="text" id="input-c-6" name="input-c-6"><br>
				<label for="input-c-7">Event Type:</label>
				<input type="text" id="input-c-7" name="input-c-7"><br>
				<label for="input-c-8">Event Reference:</label>
				<input type="text" id="input-c-8" name="input-c-8"><br>
				<label for="input-c-9">Is Estimate:</label>
				<input type="text" id="input-c-9" name="input-c-9"><br>
			</div>
					<!-- Form for Option EXWORKS_ACK_OK -->
			<div id="form-d" class="form-group">
				<label for="input-d-0">Filename:</label>
				<input type="text" id="input-d-0" name="input-d-0"><br>
				<label for="input-d-1">Event Time:</label>
				<input type="text" id="input-d-1" name="input-d-1"><br>
				<label for="input-d-2">Event Type:</label>
				<input type="text" id="input-d-2" name="input-d-2"><br>
				<label for="input-d-3">Event Reference:</label>
				<input type="text" id="input-d-3" name="input-d-3"><br>
				<label for="input-d-4">Data Target Type:</label>
				<input type="text" id="input-d-4" name="input-d-4"><br>
				<label for="input-d-5">Data Target Key:</label>
				<input type="text" id="input-d-5" name="input-d-5"><br>
				<label for="input-d-6">Company Code:</label>
				<input type="text" id="input-d-6" name="input-d-6"><br>
				<label for="input-d-7">Enterprise ID:</label>
				<input type="text" id="input-d-7" name="input-d-7"><br>
				<label for="input-d-8">Server ID:</label>
				<input type="text" id="input-d-8" name="input-d-8"><br>
				<label for="input-d-9">Is Estimate:</label>
				<input type="text" id="input-d-9" name="input-d-9"><br>
			</div>
					<!-- UPDATE_MESSAGE_ACCEPTED -->
			<div id="form-e" class="form-group">
				<label for="input-e-0">Filename:</label>
				<input type="text" id="input-e-0" name="input-e-0"><br>
				<label for="input-e-1">Data Target Type:</label>
				<input type="text" id="input-e-1" name="input-e-1"><br>
				<label for="input-e-2">Data Target Key:</label>
				<input type="text" id="input-e-2" name="input-e-2"><br>
				<label for="input-e-3">Company Code:</label>
				<input type="text" id="input-e-3" name="input-e-3"><br>
				<label for="input-e-4">Enterprise ID:</label>
				<input type="text" id="input-e-4" name="input-e-4"><br>
				<label for="input-e-5">Server ID:</label>
				<input type="text" id="input-e-5" name="input-e-5"><br>
				<label for="input-e-6">Description:</label>
				<input type="text" id="input-e-6" name="input-e-6"><br>
				<label for="input-e-7">Note Text:</label>
				<input type="text" id="input-e-7" name="input-e-7"><br>
				<label for="input-e-8">Note Context Code:</label>
				<input type="text" id="input-e-8" name="input-e-8"><br>
				<label for="input-e-9">Visibility Code:</label>
				<input type="text" id="input-e-9" name="input-e-9"><br>
				<label for="input-e-10">Address Type:</label>
				<input type="text" id="input-e-10" name="input-e-10"><br>
				<label for="input-e-11">Organization Code:</label>
				<input type="text" id="input-e-11" name="input-e-11"><br>
				<label for="input-e-12">Customized Field DataType:</label>
				<input type="text" id="input-e-12" name="input-e-12"><br>
				<label for="input-e-13">Customized Field Key:</label>
				<input type="text" id="input-e-13" name="input-e-13"><br>
				<label for="input-e-14">Customized Field Value:</label>
				<input type="text" id="input-e-14" name="input-e-14"><br>
			</div>
						<!-- UPDATE_MESSAGE_ACCRUALS_ACCEPTED -->
			<div id="form-f" class="form-group">
				<label for="input-f-0">Filename:</label>
				<input type="text" id="input-f-0" name="input-f-0"><br>
				<label for="input-f-1">Data Target Type:</label>
				<input type="text" id="input-f-1" name="input-f-1"><br>
				<label for="input-f-2">Data Target Key:</label>
				<input type="text" id="input-f-2" name="input-f-2"><br>
				<label for="input-f-3">Company Code:</label>
				<input type="text" id="input-f-3" name="input-f-3"><br>
				<label for="input-f-4">Enterprise ID:</label>
				<input type="text" id="input-f-4" name="input-f-4"><br>
				<label for="input-f-5">Server ID:</label>
				<input type="text" id="input-f-5" name="input-f-5"><br>
				<label for="input-f-6">Transport Booking Direction Code:</label>
				<input type="text" id="input-f-6" name="input-f-6"><br>
				<label for="input-f-7">Transport Booking Direction Description:</label>
				<input type="text" id="input-f-7" name="input-f-7"><br>
				<label for="input-f-8">Address Type:</label>
				<input type="text" id="input-f-8" name="input-f-8"><br>
				<label for="input-f-9">Organization Code:</label>
				<input type="text" id="input-f-9" name="input-f-9"><br>
				<label for="input-f-10">Branch Code:</label>
				<input type="text" id="input-f-10" name="input-f-10"><br>
				<label for="input-f-11">Currency Code:</label>
				<input type="text" id="input-f-11" name="input-f-11"><br>
				<label for="input-f-12">Department Code:</label>
				<input type="text" id="input-f-12" name="input-f-12"><br>
				<label for="input-f-13">Charge Line Branch Code:</label>
				<input type="text" id="input-f-13" name="input-f-13"><br>
				<label for="input-f-14">Charge Line Charge Code:</label>
				<input type="text" id="input-f-14" name="input-f-14"><br>
				<label for="input-f-15">Charge Line Cost Local Amount:</label>
				<input type="text" id="input-f-15" name="input-f-15"><br>
				<label for="input-f-16">Charge Line Cost OS Amount:</label>
				<input type="text" id="input-f-16" name="input-f-16"><br>
				<label for="input-f-17">Charge Line Cost OS Currency Code:</label>
				<input type="text" id="input-f-17" name="input-f-17"><br>
				<label for="input-f-18">Charge Line Cost OS GSTVAT Amount:</label>
				<input type="text" id="input-f-18" name="input-f-18"><br>
				<label for="input-f-19">Charge Line Creditor Type:</label>
				<input type="text" id="input-f-19" name="input-f-19"><br>
				<label for="input-f-20">Charge Line Creditor Key:</label>
				<input type="text" id="input-f-20" name="input-f-20"><br>
				<label for="input-f-21">Charge Line Department Code:</label>
				<input type="text" id="input-f-21" name="input-f-21"><br>
				<label for="input-f-22">Charge Line Display Sequence:</label>
				<input type="text" id="input-f-22" name="input-f-22"><br>
				<label for="input-f-23">Charge Line Import MetaData Instruction:</label>
				<input type="text" id="input-f-23" name="input-f-23"><br>
				<label for="input-f-24">Charge Line Supplier Reference:</label>
				<input type="text" id="input-f-24" name="input-f-24"><br>
				<label for="input-f-25">Customized Field Data Type:</label>
				<input type="text" id="input-f-25" name="input-f-25"><br>
				<label for="input-f-26">Customized Field Key:</label>
				<input type="text" id="input-f-26" name="input-f-26"><br>
				<label for="input-f-27">Customized Field Value:</label>
				<input type="text" id="input-f-27" name="input-f-27"><br>
			</div>
						<!-- UPDATE_MESSAGE_ACCRUALS -->
			<div id="form-g" class="form-group">
				<label for="input-g-0">Filename:</label>
				<input type="text" id="input-g-0" name="input-g-0"><br>
				<label for="input-g-1">Data Target Type:</label>
				<input type="text" id="input-g-1" name="input-g-1"><br>
				<label for="input-g-2">Data Target Key:</label>
				<input type="text" id="input-g-2" name="input-g-2"><br>
				<label for="input-g-3">Company Code:</label>
				<input type="text" id="input-g-3" name="input-g-3"><br>
				<label for="input-g-4">Enterprise ID:</label>
				<input type="text" id="input-g-4" name="input-g-4"><br>
				<label for="input-g-5">Server ID:</label>
				<input type="text" id="input-g-5" name="input-g-5"><br>
				<label for="input-g-6">Transport Booking Direction Code:</label>
				<input type="text" id="input-g-6" name="input-g-6"><br>
				<label for="input-g-7">Transport Booking Direction Description:</label>
				<input type="text" id="input-g-7" name="input-g-7"><br>
				<label for="input-g-8">Address Type:</label>
				<input type="text" id="input-g-8" name="input-g-8"><br>
				<label for="input-g-9">Organization Code:</label>
				<input type="text" id="input-g-9" name="input-g-9"><br>
				<label for="input-g-10">Branch Code:</label>
				<input type="text" id="input-g-10" name="input-g-10"><br>
				<label for="input-g-11">Currency Code:</label>
				<input type="text" id="input-g-11" name="input-g-11"><br>
				<label for="input-g-12">Department Code:</label>
				<input type="text" id="input-g-12" name="input-g-12"><br>
				<label for="input-g-13">Charge Line Branch Code:</label>
				<input type="text" id="input-g-13" name="input-g-13"><br>
				<label for="input-g-14">Charge Line Charge Code:</label>
				<input type="text" id="input-g-14" name="input-g-14"><br>
				<label for="input-g-15">Charge Line Cost Local Amount:</label>
				<input type="text" id="input-g-15" name="input-g-15"><br>
				<label for="input-g-16">Charge Line Cost OS Amount:</label>
				<input type="text" id="input-g-16" name="input-g-16"><br>
				<label for="input-g-17">Charge Line Cost OS Currency Code:</label>
				<input type="text" id="input-g-17" name="input-g-17"><br>
				<label for="input-g-18">Charge Line Cost OS GSTVAT Amount:</label>
				<input type="text" id="input-g-18" name="input-g-18"><br>
				<label for="input-g-19">Charge Line Creditor Type:</label>
				<input type="text" id="input-g-19" name="input-g-19"><br>
				<label for="input-g-20">Charge Line Creditor Key:</label>
				<input type="text" id="input-g-20" name="input-g-20"><br>
				<label for="input-g-21">Charge Line Department Code:</label>
				<input type="text" id="input-g-21" name="input-g-21"><br>
				<label for="input-g-22">Charge Line Display Sequence:</label>
				<input type="text" id="input-g-22" name="input-g-22"><br>
				<label for="input-g-23">Charge Line Import MetaData Instruction:</label>
				<input type="text" id="input-g-23" name="input-g-23"><br>
				<label for="input-g-24">Charge Line Supplier Reference:</label>
				<input type="text" id="input-g-24" name="input-g-24"><br>
				<label for="input-g-25">Customized Field Data Type:</label>
				<input type="text" id="input-g-25" name="input-g-25"><br>
				<label for="input-g-26">Customized Field Key:</label>
				<input type="text" id="input-g-26" name="input-g-26"><br>
				<label for="input-g-27">Customized Field Value:</label>
				<input type="text" id="input-g-27" name="input-g-27"><br>
			</div>								
		</div>
		<input type="submit" value="Submit">
	</form>

	<script>
		// Hide all forms initially
		document.querySelectorAll('.form-group').forEach(form => form.style.display = 'none');

		
		// Show the selected form
		document.querySelector('#options').addEventListener('change', function() {
			const selectedOption = this.value;
			document.querySelectorAll('.form-group').forEach(form => form.style.display = 'none');
			document.querySelector(`#form-${selectedOption}`).style.display = 'block';
		});

		// Submit form data to FastAPI endpoint
	const form = document.querySelector('form');
	form.addEventListener('submit', async event => {
		event.preventDefault();
		const formData = new FormData(form);
		const options = formData.get('options');
		const url = '/formpost';
		const body = {};
		if (options === 'a') {
			const formGroup = document.querySelector('#form-a');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-a-${i}`;
				body[`input_a_${i}`] = formData.get(inputName);
			}
		} else if (options === 'b') {
			const formGroup = document.querySelector('#form-b');
  			const inputCount = formGroup.querySelectorAll('input').length;
			for (let i = 0; i < inputCount; i++) {
				const inputName = `input-b-${i}`;
				body[`input_a_${i}`] = formData.get(inputName);
			}
		}
		try {
			const response = await fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(body)
			});
			const result = await response.json();
			console.log(result);
		} catch (error) {
			console.error(error);
		}
	});
	</script>
</body>
{% include '_site_map.html' %}
</html>