<!DOCTYPE html>
<html>
<head>
    <title>File Browser</title>
    <link href="index_style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        {% for status, files in {'pending': pending_files, 'accepted': accepted_files, 'rejected': rejected_files}.items() %}
            <div class="{{ status }}-table">
                <h2>{{ status }} Files</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Download</th>
                        {% if status != 'rejected' %}
                            <th>Action</th>
                        {% endif %}
                        <th>View</th>
                    </tr>
                    {% for file in files %}
                        <tr>
                            <td>{{ file.name }}</td>
                            <td>{{ '{:.2f}'.format(file.size / 1024) }} KB</td>
                            <td>
                                <a href="{{ url_for('download_file', filename=file.name, folder=file.folder) }}">
                                    <div class="download-icon"></div>
                                </a>
                            </td>
                            {% if status == 'accepted' %}
                                <td>
                                    <button type="button" class="reject-button" onclick="rejectFile('{{ file.name }}', '{{ file.folder }}', '{{ status }}')">Reject</button>
                                </td>
                            {% elif status == 'pending' %}
                                <td>
                                    <button type="button" class="accept-button" onclick="acceptFile('{{ file.name }}', '{{ file.folder }}', '{{ status }}')">Accept</button>
                                    <button type="button" class="reject-button" onclick="rejectFile('{{ file.name }}', '{{ file.folder }}', '{{ status }}')">Reject</button>
                                </td>
                            {% endif %}
                                <td>
                                    <a href="{{ url_for('view_xml', filename=file.name, folder=file.folder, status=status) }}">View</a>
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
            {% endfor %}
    </div>

    <!--<a href="{{ url_for('show_form') }}" class="download-button">Read .xml</a>-->
    <!--<a href="{{ url_for('post_form') }}" class="download-button">Write .xml</a>-->
    <script>
        function deleteFile(filename, filefolder) {
            fetch('/delete_file/' + filename + '/' + filefolder, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to delete file');
                }
            }).then(data => {
                console.log(data.message);
                location.reload(); // reload the page to update the file list
            }).catch(error => {
                console.error(error);
                alert('Failed to delete file');
            });
        }

        function rejectFile(filename, filefolder, cstatus) {
            fetch('/update_file_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify([{name: filename, folder: filefolder, status: 'rejected', currentstatus: cstatus}])
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update file status');
                }
            }).then(data => {
                console.log(data.message);
                location.reload(); // reload the page to update the file list
            }).catch(error => {
                console.error(error);
                alert('Failed to update file status');
            });
        }

        function acceptFile(filename, filefolder, cstatus) {
            fetch('/update_file_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify([{name: filename, folder: filefolder, status: 'accepted', currentstatus: cstatus}])
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Failed to update file status');
                }
            }).then(data => {
                console.log(data.message);
                location.reload(); // reload the page to update the file list
            }).catch(error => {
                console.error(error);
                alert('Failed to update file status');
            });
        }
    </script>
</body>
{% include '_site_map.html' %}
</html>


