<!DOCTYPE html>
<html>
<head>
	<title>Table Example</title>
    <link href="table_style.css" rel="stylesheet">
</head>
<body>
	<h1>{{filename}}</h1>
	<table id="table">
		<thead>
			<tr>
				<th>Fields</th>
				<th>Values</th>
			</tr>
		</thead>
		<tbody id="table-body">
		</tbody>
	</table>
	<div class="pagination" id="pagination">
	</div>
	<script>
        var data = {{ data|tojson }};
        var tableBody = document.getElementById("table-body");
        var rowsPerPage = 10;
        var currentPage = 1;

        function displayData() {
            var start = (currentPage - 1) * rowsPerPage;
            var end = start + rowsPerPage;
            var pagination = document.getElementById("pagination");
            var totalPages = Math.ceil(data.length / rowsPerPage);
            pagination.innerHTML = "";
            for (var i = 1; i <= totalPages; i++) {
                var pageLink = document.createElement("button");
                pageLink.className = "page-link";
                pageLink.innerText = i;
                if (i === currentPage) {
                    pageLink.classList.add("active");
                }
                pageLink.onclick = function() {
                    currentPage = parseInt(this.innerText);
                    displayData();
                }
                pagination.appendChild(pageLink);
            }
            tableBody.innerHTML = "";
            for (var i = start; i < end; i++) {
                if (i >= data.length) {
                    break;
                }
                var row = tableBody.insertRow();
                var col1 = row.insertCell(0);
                var col2 = row.insertCell(1);
                col1.innerHTML = data[i].col1;
                col2.innerHTML = data[i].col2;
            }
        }

        displayData();
    </script>
</body>
</html>

